:root{
    --roboto:'Roboto', sans-serif;
    --lato:'Lato', sans-serif;
}
html{
    box-sizing: border-box;  
}
/* *{
    outline: 1px solid red;
} */
*,
*::before,
*::after{
    box-sizing: inherit;
}
h1{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
/* header */
.header{
    width: 100%;
    background-color: #00204A;
    position: fixed;
    top: 0;
    z-index: 10;
}
.container-items{
    background-color: #00204A;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.btnLogin,
.btnRegister,
.btnCategory,
.bottonSee{
    outline: none;
    border: none;
    text-decoration: none;
}
form{
    width: 70%;
    position: relative;
}
form input[type="text"]{
    background-color: transparent;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 18px;
    padding-left: 15px;
    color: #fff;
}
form input[type="submit"]{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../imagenes/icono-lupa-plomo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    border: none;
    text-indent: -9999px;
    background-color: transparent;
    outline: none;
    transition: all .3s ease-in-out;
}
form input[type="submit"]:hover{
    background-image: url(../imagenes/icono-lupa.png);
    background-color: transparent;
}

.header .searchInput{
    border-bottom: 3px solid gray;
}
.header .searchInput:hover{
    border-bottom: 3px solid white;
    transition: all .3s ease-in-out;
    color: #fff;
}
.btnLogin{
    background-color: #3686E6;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    transition: all .3s ease-in-out;
}
.btnLogin:hover{
    color: #3686E6;
    background-color: #fff;
}

.btnRegister{
    border-radius: 20px;
    background-color: #3ACACE;
    color: #fff;
    padding: 10px 30px;
    transition: all .3s ease-in-out;
}
.btnRegister:hover{
    color: #3ACACE;
    background-color: #fff;
}

.logo{
    flex: .5;
    text-align: center;
}
.search{
    flex: 1;
    text-align: center;
}
.botons{
    display: flex;
    flex: .7;
    justify-content: space-around;
}
.menuMobile{
    display: none;
}
.btnsearch{
    display: none;
}
/* carrusel */
.swiper-container{
    padding-top: 105px !important;
} 
.bg1,
.bg2,
.bg3{
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%;
    display: flex;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.contenidoBG,
.contenido{
    flex: 1;
}
.contenido{
    padding: 10px;
}
.contenidoBG{
    width: 100%;
    display: flex;
    height: 100%;
}
.portada{
    width: 90%;
    height: 90%;
    margin: auto;
}

.bottonSee{
    font-size: 16px;
    font-family: var(--roboto);
    font-weight: bold;
    color: #7D7D7D;
    background-color: #fff;
    border-radius: 15px;
    padding: 7px 43px;
    transition: all .3s ease-in-out;
}
.bottonSee:hover{
    color: #fff ;
    background-color: #7D7D7D;
}

.bg1{
    background-image: url(../imagenes/BG-1.png);
}
.bg2{
    background-image: url(../imagenes/BG-2.png);
}
.bg3{
    background-image: url(../imagenes/BG-3.png);
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}
.autor{
    font-size: 14px;
    font-style: italic;
    text-align: left;
    color: #fff;
}
.desc{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #fff;
    line-height: 1.8;
    text-align: left;
}

/* Categorias */
.category .container h1,
.sold h1{
    font-family: var(--lato);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #00204A;
    padding: 35px 0 35px 0;
}
.bottons-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bottons-category .btnCategory{
    flex: 0 0 18%;
    text-align: center;
    font-size: 16px;
    font-family: var(--roboto);
    color: #fff;
    background-color: red;
    border-radius: 40px;
    padding: 10px 43px;
    margin: 10px 10px;
    transition: all .3s ease-in-out;

    
}

.btnCategory:nth-of-type(1){background-color: #3686E6;}
.btnCategory:nth-of-type(2){background-color: #FDA403;}
.btnCategory:nth-of-type(3){background-color: #96A8BD;}
.btnCategory:nth-of-type(4){background-color: #EB6905;}
.btnCategory:nth-of-type(5){background-color: #20B81A;}
.btnCategory:nth-of-type(6){background-color: #524FA7;}
.btnCategory:nth-of-type(7){background-color: #F02792;}
.btnCategory:nth-of-type(8){background-color: #765727;}
.btnCategory:nth-of-type(9){background-color: #8615BF;}
.btnCategory:nth-of-type(10){background-color: #000;}
.btnCategory:hover{
    color: #fff ;
    background-color: #7D7D7D;
}


/* mas vendido */
.sold{
    padding-bottom: 30px;
}
.cards-sold{
    display: flex;
    flex-wrap: wrap;
}
.card a{
    text-decoration: none;
}
.card{
    position: relative;
    flex: 0 0 20%;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px;
    /* -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.51);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.51); */
}
.details-card{
    text-align: center;
}
.imgCard{
    width: 100%;
}

.card .title-card{
    font-family: var(--lato);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #00204A;
}
.card .autor-card{
    font-family: var(--lato);
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    color: #7D7D7D;
}

/* Footer */
.footer{
    width: 100%;
    background-color: #00204A;
}
.footer .container{
    background-color: #00204A;
}
.elementsFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contentfo1,
.contentfo2{
    display: flex;
    flex-direction: column;
}
.imgfooter{
    align-items: center;
}
/* DETALLES */

@media screen and (max-width:950px){ 
    .btnLogin {
        padding: 10px 20px;
    }
    .btnRegister{
        padding: 10px 20px;
    }
}
@media screen and (max-width:825px){ 
    .btnLogin {
        padding: 10px 15px;
    }
    .btnRegister{
        padding: 10px 15px;
    }
}

/* 768 mobile del header */


@media screen and (max-width:768px){
    .menuMobile{
        display: block;
        width: 50px;
    }
    .botons{
        flex: .3;
    }
    .btnRegister,
    .btnLogin{
        display: none;
    }
    form{
        width: 100%;
        height: 50px;
    }
    form input[type="submit"],
    form input[type="text"]{
        display: none;
    }
    .btnsearch{
        position: absolute;
        display: block;
        right: 0;
    }
}
/* 416 telf  */
@media screen and (max-width:416px){
    .container-items {
        padding: 0px;
    }
    form{
        height: 30px;
    }
    .menuMobile {
        width: 30px;
    }
    .btnsearch {
        width: 30px;
    }
    .logoJA{
        width: 100px;
    }
    .slider {
        padding-top: 100px;
    }
}


/*  */
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }